body {
    font-family: Arial;
    color: #483753;
    background-color: #ffe4fa;
    margin: 0;
}

/*
 *  header
 */

header {
    text-align: center;
    background-color: #ff94cb;
}

header h1 {
    margin: 0;
    padding: 10px;
}

/*
 *  layout
 */

 main {
    display: flex;
    flex-direction: column;
 }

/*
 *  new todo form
 */

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

form input {
    width: 250px;
    border: 1px solid #ff94cb;
    border-radius: 4px;
}

form button {
    width: 25px;
    height: 25px;
    color: #ffe4fa;
    background-color: #483753;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/*
 *  todos
 */

 .todos-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.todo-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ff94cb;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btn-container button {
    width: 25px;
    height: 25px;
    visibility: hidden;
    color: #ffe4fa;
    background-color: #483753;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.todo-container:hover button {
    visibility: visible;
}

/*
 *  edit todos modal
 */

dialog {
    width: 200px;
    height: 200px;
    background-color: #ffe4fa;
    padding: 0;
    border: 3px solid #ff94cb;
    border-radius: 5px;
    position: relative;
}

dialog form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

dialog form p {
    margin: 0;
}

form textarea {
    width: 150px;
    height: 100px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    resize: none;
}

button.save-changes {
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

button.close {
    width: 25px;
    height: 25px;
    color: #ffe4fa;
    background-color: #483753;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 0;
    left: auto;
    cursor: pointer;
}

i {
    /* this stops the icons from blocking click events */
    pointer-events: none;
}